@{
    ViewBag.Title = "Изменение записи";
    Layout = "_Layout";
}
@model Person
<form action="~/People/EditPerson" method='post'>
    <label>Фамилия:</label><br />
    <input name='person.LastName' value='@Model.LastName' /><br />
    <label>Имя:</label><br />
    <input name='person.FirstName' value='@Model.FirstName' /><br />
    <label>Отчество:</label><br />
    <input name='person.SurName' value='@Model.SurName' /><br />
    <label>Место жительства:</label><br />
    <input name='person.PostalAddress' value='@Model.PostalAddress' /><br />
    <label>Номер телефона:</label><br />
    <input name='person.PhoneNumber' value='@Model.PhoneNumber' /><br />
    <label>Краткое описание:</label><br />
    <input name='person.Description' value='@Model.Description' /><br />
    <input hidden="hidden"  name='id' value='@ViewBag.Id' /><br />

    <p></p>
    <input type='submit' value='Изменить' />
</form>


