@{
    ViewBag.Title = "Детальная информация";
    Layout = "_Layout";
}

<h3>@Model.LastName @Model.FirstName @Model.SurName</h3>
   
    <h5>Место проживания: @Model.PostalAddress</h5>
    <h5>Телефон: @Model.PhoneNumber</h5>

    <td>Краткая характеристика:</td>
    <p>@Model.Description</p>
            
       

